/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
#user_status {
  text-align: right;
  margin-top: 1rem;
  margin-right: 2rem;
}
.card {
  margin-top: 15rem;
}
.btn-sm {
  margin-left: 5rem;
  margin-top: 1rem;
}
.container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
}
.actions {
  margin-top: 0.9rem;
}
.home-group {
  margin-bottom: 1rem;
}

// input#category {
//   width: 70%;
// }
// input#zone_id {
//   width: 50%;
// }
